html, body {
	margin: 0;
	padding: 0;
	min-width: 30em;
}

input {
	width: 100%;
	display: block;
	border: 0;
	outline: 0;
	margin: 1em;
	font-size: 1.1em;
}

ul.tabList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.tabList li {
	padding: 1em;
	cursor: pointer;
	background-color: #EFEFEF;
}

ul.tabList li:hover {
	background-color: #DFDFDF;
}

ul.tabList li.selected {
	background-color: #DFDFDF;
}

ul.tabList li span {
	display: inline-block;
	max-width: 30em;
	font-size: 1.1em;
	margin-left: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.left {
	float: left;
}

.right {
	float: right;
}
