html, body {
	margin: 0;
	padding: 0;
	min-width: 30em;
}

input {
	width: 95%;
	display: block;
	margin: 0 auto;
	padding: 2px;
	margin-top: .5em;
	margin-bottom: .5em;
}

ul.tabList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.tabList li {
	height: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	background-color: #EFEFEF;
}

ul.tabList li:hover {
	background-color: #EBEBEB;
}

ul.tabList li span {
	display: inline-block;
	max-width: 30em;
	font-size: 1.1em;
	margin-left: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.left {
	float: left;
}

.right {
	float: right;
}